
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# ajouté manuellement le 15 avril à 16h40

/.idea/
# /composer.lock
# /symfony.lock